body{
    -ms-overflow-style: none;
  }
  ::-webkit-scrollbar { display: none; }

  #titleBar{
    position: fixed;
    display: grid;
    grid-template-columns: 80px 1fr 80px;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 51px;    
    text-align: center;
    line-height: 50px;
    background-color: #ff3d38;
  }
  #title{
    font-family: Roboto;
    color: white;
    font-size: 1.25em;
    font-weight: 600;
  }  
  #dataList{
    display:block;
    width: 100%;
    padding-top: 96px;    
  }

  .listBox{
    display: grid;
    grid-template-columns: 60px 1fr 80px;
    align-items: center;
    border-bottom: 1px solid gray;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }
  
  /*
  .listBox:hover{
    background-color: #ffdfde;
  }
  */

  .listBox:active{
    background-color: #ffdfde;
  }
  .value_score{
    text-align: right;
    justify-content: center;
    padding-right: 8px;
    font-size: 0.9em;
    font-weight: 600;
  }
  .rank{
    text-align: center;
    font-size: 0.85em;
  }
  .apt_address{
    font-size: 0.7em;
    color: gray;
  }
  .apt_name{
    font-size: 0.85em;
    font-weight: bold;
  }
  .aptYear{
    font-size: 0.65em;
    color: gray
  }

  #selections{        
    display: grid;    
    grid-template-columns: 0.8fr 1.5fr 1fr;
    align-content: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;    
    background-color: #ff3d38;
    position: fixed;
    top: 50px;
    left: 0;
    right: 0;    
  }
  #sido, #gungu, #month{
    width: 95%;
    height: 2em;
    font-size: 0.8em;
    margin-right: 2px;
    border: none;
    background-color: white;
  }  
  #sido_selection{
    text-align: left;
    padding-left: 10px;
  }
  #gungu_selection{
    text-align: left;
  }
  #month_selection{
    text-align: right;
    padding-right: 10px;
  }

  .modal-body{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;    
  }
  .popRank{
    text-align: center;
    font-size: 1.5em;
    font-weight: 600;    
  }
  .popupTitle{    
    font-weight: 900;    
  }
  .popupSubtitle{
    font-size: 0.7em;
    color: gray;
  }
  .popSubTable{
    display: grid;
    height: 1.8em;
    grid-template-columns: 1.5fr 1fr;    
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: solid 1px rgb(216, 216, 216);
  }
  #popSubStation{
    display: grid;    
    grid-template-columns: 1fr 2fr;
  }
  #popSubLiving{
    display: block;
    padding-bottom: 10px;
    border-bottom: solid 1px rgb(216, 216, 216);    
  }
  #popSubResult{
    text-align: left;
  }
  #popLiving{
    display: block;    
  }
  .popTitle{
    font-weight: 600;
  }
  .popContent{
    font-size: 0.9em;
    text-align: left;
  }
  .popTable{
    display:grid;
  }
  .popResult{    
    font-size: 0.9em;
    font-weight: 600;
    text-align: right;
  }
  .card{
    margin-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  }

  #help{
    font-size: 1.5em;
    color: white;
    text-align: right;
    padding-right: 20px;
  }
  .notice{
    font-size: 0.85em;    
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
    word-wrap: break-word;
    word-break: keep-all;
  }  
  .modal-footer{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    place-content: center;
  }
  .goLink{    
    width: 100%;
    height: 2.5em;
    background-color: #03c75a;
    color: white;
    font-weight: 600;
    border-radius: 5px;
    border: None;
  }
  .goApt{
    width: 100%;    
    height: 2.5em;
    background-color: #ff3d38;
    color: white;
    font-weight: 600;
    border-radius: 5px;
    border: None;
  }
  .comment{
    font-size: 0.6em;
    text-align: right;
    color: gray;
  }

  .reg_subTable{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 5px;
  }

  @media screen and (min-width: 800px){
    #modal .modalWindow{      
      width: 700px;
    }
    #close{
      width: 700px;
    }
    #centerBox{
      width: 100%;
      display: grid;
      grid-template-columns: 800px;
      justify-content:center;
    }
    #titleBar{
      margin: 0 auto;
      width: 800px;
    }
    #selections{
      margin: 0 auto;
      width: 800px;
    }
    .reg_subTable{    
      grid-template-columns: 1.2fr 1fr 1fr 1fr 2fr;
    }
    .comment{
      font-size: 0.8em;
    }
  }  